
.logged-icon{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 1em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}